---
import ExternalLinkIcon from "icons:astro/heroicons/arrow-top-right-on-square";
import AppLink from "@components/AppLink.astro";
import Heading from "@components/Heading.astro";
import Calendar from "./ContributionsCalendar/Calendar.astro";
import CalendarGrid from "./ContributionsCalendar/CalendarGrid.astro";
---

<section
  class:list={[
    "relative flex w-full flex-col items-center px-5 py-10 sm:p-20",
    "after:absolute after:inset-0 after:bg-background after:-z-10 after:-skew-y-3",
  ]}
>
  <Heading>Github Contributions</Heading>

  <div
    class="m-auto flex w-full max-w-screen-xl flex-col items-center gap-16 md:gap-40"
  >
    <div
      class="flex w-full flex-col items-center justify-center gap-5 md:gap-10"
    >
      <Calendar server:defer>
        <Fragment slot="fallback">
          <span class="font-semibold md:text-2xl">Loading contributions</span>
          <CalendarGrid>
            {
              Array.from(Array(52 * 7).keys()).map(() => (
                <div class="size-2 animate-pulse rounded-sm bg-slate-300 lg:size-3 xl:size-4 dark:bg-slate-900" />
              ))
            }
          </CalendarGrid>
        </Fragment>
      </Calendar>
      <AppLink as="a" appearance="primary" href="https://github.com/Trombach">
        View Github profile <ExternalLinkIcon />
      </AppLink>
    </div>
  </div>
</section>
