---
import getGithubContributions from "@utils/contributionsCalendar";
import CalendarGrid from "./CalendarGrid.astro";
import CalendarTile from "./CalendarTile";

const result = await getGithubContributions();
---

{
  "totalContributions" in result ? (
    <>
      <span class="font-semibold md:text-2xl">
        {result.totalContributions !== undefined &&
          `${result.totalContributions} contribution` +
            (result.totalContributions === 1 ? " " : "s ") +
            "on Github in the last year"}
      </span>
      <CalendarGrid>
        {result.weeks?.map((week) =>
          week.contributionDays.map(({ contributionCount, date }) => (
            <CalendarTile
              contributions={contributionCount}
              {date}
              client:visible
            />
          )),
        )}
      </CalendarGrid>
    </>
  ) : (
    <span>{result.message}</span>
  )
}
