---

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class:list={[
    "text-lg md:text-xl",
    "[&_a]:font-medium [&_a]:underline",
    "[&_p]:text-justify [&_p]:leading-7 md:[&_p]:leading-9 [&>*:not(:first-child)]:mt-6",
    "motion-safe:*:timeline-slide-in-bottom",
    className,
  ]}
>
  <slot />
</div>
