---

import { getEntry, render } from "astro:content";
import Heading from "@components/Heading.astro";
import TechGrid from "@components/Home/About/TechGrid.astro";
import ProseAbout from "./ProseAbout.astro";

const tech = await getEntry("about", "tech");

if (!tech) {
  throw new Error("Tech entry not found");
}

const { title } = tech.data;
const { Content } = await render(tech);
---

<section
  id="technologies"
  class="flex w-full flex-col items-center justify-center bg-background p-10 sm:p-20"
>
  <Heading class="motion-safe:timeline-slide-in-bottom">{title}</Heading>
  <div
    class="flex space-y-10 w-full max-w-(--breakpoint-xl) flex-col justify-around items-center xl:flex-row"
  >
    <ProseAbout class="xl:px-20">
      <Content />
    </ProseAbout>
    <TechGrid class="my-auto w-full basis-2/3" />
  </div>
</section>
