---
import { Image } from "astro:assets";

type Props = { image: ImageMetadata; alt: string };

const { image, alt } = Astro.props;
---

<div class="overflow-clip">
  <Image
    src={image}
    alt={alt}
    width={600}
    loading="eager"
    class="aspect-[21/9] transform overflow-clip rounded-t-xl bg-card object-cover object-center transition-transform group-hover:scale-105"
    transition:name={image.src}
  />
</div>
