---
import { Image } from "astro:assets";

type Props = { image: ImageMetadata; alt: string };

const { image, alt } = Astro.props;
---

<div class="overflow-clip">
  <Image
    src={image}
    alt={alt}
    width={600}
    loading="eager"
    class:list={[
      "aspect-[21/9] transform overflow-clip rounded-t-xl bg-card object-cover object-center",
      "motion-safe:saturate-100 transition-[filter] duration-1000 motion-safe:group-hover:saturate-200",
    ]}
    transition:name={image.src}
  />
</div>
