---
import Waves from "@components/Waves.astro";
import { getEntry } from "astro:content";
import HeroGrid from "./HeroGrid.svelte";

const { data } = await getEntry("home", "welcome");
---

<section id="hero" class="relative h-screen-less-header">
  <!-- <div class="h-full flex-col lg:flex-row" transition:animate="slide"></div> -->
  <HeroGrid client:load>
    <p
      slot="panel-one"
      class:list={[
        "max-w-[600px] text-center font-mono leading-relaxed",
        "font-size-clamp",
      ]}
    >
      {data.block1}
      <span class="text-primary">{data.name}</span>
      {data.block2}
    </p>

    <div slot="panel-two">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam adipisci
      itaque temporibus. Eum debitis in harum totam eos molestias delectus,
      incidunt voluptas voluptates sequi. Totam error dolor eaque vero ullam.
    </div>

    <div slot="panel-three">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam adipisci
      itaque temporibus. Eum debitis in harum totam eos molestias delectus,
      incidunt voluptas voluptates sequi. Totam error dolor eaque vero ullam.
    </div>

    <div slot="panel-four">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam adipisci
      itaque temporibus. Eum debitis in harum totam eos molestias delectus,
      incidunt voluptas voluptates sequi. Totam error dolor eaque vero ullam.
    </div>
  </HeroGrid>
  <Waves />
</section>
