---
import { getCollection } from "astro:content";
import HeroGrid from "./HeroGrid.svelte";
import PanelContent from "./PanelContent.astro";

const entries = await getCollection("home");
---

<section
  transition:animate="slide"
  id="hero"
  class="flex h-screen-less-header w-full flex-col"
>
  <HeroGrid client:load>
    {entries.map((entry) => <PanelContent {entry} slot={entry.data.slot} />)}
  </HeroGrid>
</section>
