---
import { getEntry } from "astro:content";
import HeroGrid from "./HeroGrid.svelte";
import PanelContent from "./PanelContent.astro";

// TODO query collection and map when fixed
const panel1 = await getEntry("home", "panel-1");
const panel2 = await getEntry("home", "panel-2");
const panel3 = await getEntry("home", "panel-3");
const panel4 = await getEntry("home", "panel-4");
---

<section
  transition:animate="slide"
  id="hero"
  class="flex h-screen-less-header w-full flex-col"
>
  <HeroGrid client:load>
    <PanelContent entry={panel1} slot="panel-one" />
    <PanelContent entry={panel2} slot="panel-two" />
    <PanelContent entry={panel3} slot="panel-three" />
    <PanelContent entry={panel4} slot="panel-four" />
  </HeroGrid>
</section>
