---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"home">;
};

const { entry } = Astro.props;
const { data, render } = entry;
const { Content } = await render();
---

<div
  data-panel-content
  class:list={[
    "flex h-full w-full flex-col lg:flex-row",
    "[&_h1]:[font-size:_clamp(theme(fontSize.2xl),min(4cqw,2cqh),theme(fontSize.5xl))]",
    "[&_p]:text-muted-foreground [&_p]:lg:text-2xl",
  ]}
>
  {
    data?.image && (
      <Image
        src={data.image}
        alt="me at work"
        width="1200"
        loading="eager"
        class="h-1/4 w-full object-cover object-center lg:h-full lg:w-1/2"
      />
    )
  }
  <div
    data-panel-content-right={entry.slug}
    class:list={[
      "flex w-full grow flex-col items-center justify-center space-y-5 overflow-y-auto p-8 text-center lg:h-full lg:space-y-10",
    ]}
  >
    <Content />
  </div>
</div>

<style>
  [data-panel-content-right] {
    min-width: var(--panel-content-min-width);
  }
</style>

<script type="module">
  setMinWidth();
  window.addEventListener("resize", setMinWidth);

  function setMinWidth() {
    document.documentElement.style.removeProperty("--panel-content-min-width");

    const panelWidth = document.querySelector(
      "[data-panel-content-right]",
    )?.offsetWidth;

    document.documentElement.style.setProperty(
      "--panel-content-min-width",
      `${panelWidth || 0}px`,
    );
  }
</script>
