---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

// workaround for animations from imported components to work
// https://github.com/withastro/astro/issues/7761
export const addToHead = true;

type Props = {
  entry: CollectionEntry<"home">;
};

const { entry } = Astro.props;
const { data, render } = entry;
const { Content } = await render();
---

<div
  data-panel-content
  class:list={[
    "flex h-full w-auto flex-col lg:flex-row",
    "[&_h1]:text-3xl [&_h1]:md:text-4xl [&_h1]:lg:text-5xl",
    "[&_p]:text-muted-foreground [&_p]:lg:text-2xl",
  ]}
>
  {
    data?.image && (
      <Image
        src={data.image}
        alt="panel image"
        widths={[240, 540, 720]}
        sizes={`(max-width: 360px) 240px, (max-width: 480px) 540px, 720px`}
        loading="eager"
        class="h-1/2 w-auto object-cover object-center lg:h-auto lg:w-1/2"
        transition:name={
          data.imageTransitionName ? data.imageTransitionName : ""
        }
      />
    )
  }
  <div
    class:list={[
      "flex w-auto grow flex-col items-center justify-center space-y-5 p-4 text-center lg:h-auto lg:space-y-10 lg:p-8",
    ]}
  >
    <Content />
  </div>
</div>

<style>
  [data-panel-content] {
    min-width: var(--panel-content-min-width);
  }
</style>
