---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const { data, render } = await getEntry("home", "panel-1");
const { Content } = await render();
---

<div class="flex h-full w-full flex-col lg:flex-row">
  {
    data?.image && (
      <Image
        src={data.image}
        alt="me at work"
        width="1200"
        class="inline-block h-1/2 w-full object-cover object-center lg:h-full lg:w-1/2"
      />
    )
  }
  <div
    class:list={[
      "prose-lg flex h-1/2 w-full flex-col justify-center p-8 text-center lg:prose-2xl dark:prose-invert lg:h-full lg:w-1/2",
      "lg:min-w-[350px] min-[1032px]:min-w-[375px] min-[1200px]:min-w-[450px]",
    ]}
  >
    <Content />
  </div>
</div>
