---
import MeCardFront from "./MeCardFront.astro";
---

<div
  data-card
  class:list={[
    "@container/me-card",
    "z-50 rounded-xl border bg-card [transform-style:preserve-3d]",
    "w-1/2 aspect-[1.59/1] max-w-[750px]",
  ]}
>
  <MeCardFront />
</div>

<style>
  [data-card] {
    animation-timeline: view();
    animation-range: entry 0% entry 90%;
    @media screen(lg) {
      animation-name: id-card;
    }
    animation-fill-mode: both;
    animation-duration: 1ms;
    animation-timing-function: ease-in-out;
  }

  @keyframes id-card {
    0% {
      transform: translateY(calc(-25cqh - 10vh)) translateX(25cqw) scale(1) rotateY(0);
      @apply drop-shadow-none;
    }

    50% {
      transform: translateY(-50cqh) translateX(0) scale(0.8) rotateY(0);
      @apply drop-shadow-none;
    }

    100% {
      transform: translateY(0) translateX(0) scale(0.6) rotateY(20deg);
      @apply drop-shadow-2xl;
    }
  }

  @keyframes id-card-mobile {
  }
</style>
