---
import Wave from "./Wave.astro";
---

<div class="z-10 mx-auto -mt-20 flex h-full flex-col justify-center space-y-10">
  <h1
    class="flex items-center gap-5 text-9xl motion-safe:animate-slide-in motion-safe:animation-delay-300"
  >
    <span>
      <div class="text-6xl">Hi there <Wave /></div>
      I'm <span
        class="font-bold bg-gradient-to-r from-primary to-primary-pink bg-clip-text text-transparent"
      >
        Lukas
      </span>
    </span>
  </h1>
  <p
    class="border-l-4 border-foreground pl-2 font-mono text-3xl motion-safe:animate-slide-in motion-safe:animation-delay-500"
  >
    Software Developer <br />
    Researcher
  </p>
</div>
