---
import Name from "./Name.astro";
import Wave from "./Wave.astro";
---

<div
    class="z-10 mx-5 sm:mx-auto -mt-20 flex h-full flex-col justify-center space-y-10"
>
    <h1
        class:list={[
            "flex items-center gap-5 text-[clamp(var(--text-6xl),-6.875rem+34vw,var(--text-9xl))]",
            "drop-shadow-text",
        ]}
    >
        <span class="font-display">
            <div
                class="text-[clamp(var(--text-4xl),-1.5rem+12vw,var(--text-6xl))]"
            >
                Hi there <Wave />
            </div>
            I'm <Name />
        </span>
    </h1>
    <p
        class:list={[
            "border-l-4 border-foreground pl-2 text-[clamp(var(--text-xl),-0.3125rem+5vw,var(--text-3xl))]",
            "drop-shadow-text",
        ]}
    >
        Software Developer <br />
        Researcher
    </p>
</div>

<style>
    @media (prefers-reduced-motion: no-preference) {
        @keyframes hero-fade {
            100% {
                opacity: 0;
                scale: 1.2;
                transform: translateY(-100px);
            }
        }

        h1,
        p {
            animation: hero-fade linear both;
            animation-timeline: view();
            animation-range: exit;
        }
    }
</style>
