---
import Wave from "./Wave.astro";
---

<div
  class="z-10 mx-5 sm:mx-auto -mt-20 flex h-full flex-col justify-center space-y-10"
>
  <h1
    class:list={[
      "flex items-center gap-5 [font-size:clamp(theme(fontSize.6xl),-6.875rem_+_34vw,theme(fontSize.9xl))]",
      "motion-safe:animate-slide-in motion-safe:animation-delay-300",
      "drop-shadow-text",
    ]}
  >
    <span class="font-display">
      <div
        class="[font-size:clamp(theme(fontSize.4xl),-1.5rem_+_12vw,theme(fontSize.6xl));]"
      >
        Hi there <Wave />
      </div>
        I'm <span
          class="font-bold bg-gradient-to-r from-primary to-primary-pink bg-clip-text text-transparent"
        >
          Lukas
        </span>
    </span>
  </h1>
  <p
    class:list={[
      "border-l-4 border-foreground pl-2 [font-size:clamp(theme(fontSize.xl),-0.3125rem_+_5vw,theme(fontSize.3xl));]",
      "motion-safe:animate-slide-in motion-safe:animation-delay-500",
      "drop-shadow-text"
    ]}
  >
    Software Developer <br />
    Researcher
  </p>
</div>
