<span
  class:list={[
    "font-bold bg-left-top bg-linear-to-r from-primary via-primary-pink to-primary bg-clip-text text-transparent",
    "[--bg-size:200%] bg-[length:var(--bg-size)_100%] motion-safe:animate-[gradient_12s_linear_infinite]",
  ]}
>
  Lukas
</span>

<style>
  @keyframes gradient {
    to {
      background-position: var(--bg-size) 0;
    }
  }
</style>
