---
import AboutText from "./AboutText.astro";
import MeCard from "./MeCard/MeCard.astro";
---

<section class="bg-secondary w-full">
  <div
    class="[perspective:3200px] [container:me-section/size] h-svh mx-auto max-w-screen-xl flex flex-col items-center justify-center lg:flex-row"
  >
    <MeCard />
    <AboutText />
  </div>
</section>
