---
import MeCard from "./MeCard/MeCard.astro";
---

<section
  id="about-me"
  class="flex min-h-screen-less-header w-full flex-col items-center justify-center [perspective:600px] md:[perspective:900px] lg:[perspective:1200px]"
>
  <MeCard />
</section>
