---
import { getEntry, render } from "astro:content";
import Heading from "@components/Heading.astro";

const aboutMe = await getEntry("about", "about-me");
const {
  data: { title },
} = aboutMe;
const { Content } = await render(aboutMe);
---

<div class="p-10 sm:p-20 lg:p-10 shrink-0 lg:w-1/2 lg:ml-auto">
  <Heading class="motion-safe:timeline-slide-in-bottom">{title}</Heading>
  <div class="prose-p:text-justify prose md:prose-lg lg:prose-xl dark:prose-invert motion-safe:*:timeline-slide-in-bottom">
    <Content />
  </div>
</div>
