---
import AppLink from "@components/AppLink.astro";
import H1 from "@components/H1.astro";
import { getEntry } from "astro:content";
import ExternalLinkIcon from "icons:astro/heroicons/arrow-top-right-on-square";
import Calendar from "./ContributionsCalendar/Calendar.astro";

const {
  render,
  data: { title },
} = await getEntry("about", "contributions");
const { Content } = await render();
---

<section class="flex min-h-svh w-full flex-col items-center px-5 py-10 sm:p-20">
  <H1 {title} />

  <div
    class="m-auto flex w-full max-w-screen-xl flex-col items-center gap-16 md:gap-40"
  >
    <div
      class="flex w-full flex-col items-center justify-center gap-5 md:gap-10"
    >
      <Calendar server:defer/>
      <AppLink as="a" appearance="primary" href="https://github.com/Trombach">
        View Github profile <ExternalLinkIcon />
      </AppLink>
    </div>

    <div class="prose text-center lg:prose-xl dark:prose-invert">
      <Content />
    </div>
  </div>
</section>
