---
import { getEntry, render } from "astro:content";
import TechGrid from "@components/About/TechGrid.astro";
import Heading from "@components/Heading.astro";

const tech = await getEntry("about", "tech");
const {
  data: { title },
} = tech;
const { Content } = await render(tech);
---

<section
  id="technologies"
  class="flex w-full flex-col items-center justify-center bg-background p-10 sm:p-20"
>
  <Heading class="motion-safe:timeline-slide-in-bottom">{title}</Heading>
  <div
    class="flex space-y-10 w-full max-w-screen-xl flex-col justify-around items-center xl:flex-row"
  >
    <div
      class:list={[
        "prose-p:text-justify prose md:prose-lg lg:prose-xl dark:prose-invert xl:px-20",
        "motion-safe:*:timeline-slide-in-bottom",
      ]}
    >
      <Content />
    </div>
    <TechGrid class="my-auto w-full basis-2/3" />
  </div>
</section>
