---
import H1 from "@components/H1.astro";
import TechGrid from "@components/TechGrid.astro";
import { getEntry } from "astro:content";

const {
  render,
  data: { title },
} = await getEntry("about", "tech");
const { Content } = await render();
---

<section
  id="technologies"
  class="mx-auto min-h-screen-less-header w-full max-w-5xl p-10 md:w-2/3 [&_p]:mb-6 [&_p]:text-xl"
>
  <H1 {title} />
  <Content class="prose lg:prose-xl dark:prose-invert" />
  <TechGrid />
</section>
