---
import TechGrid from "@components/About/TechGrid.astro";
import H1 from "@components/H1.astro";
import { getEntry } from "astro:content";

const {
  render,
  data: { title },
} = await getEntry("about", "tech");
const { Content } = await render();
---

<section
  id="technologies"
  class="flex min-h-svh w-full flex-col items-center justify-center bg-background p-10 sm:p-20"
>
  <H1 {title} class="timeline-slide-in-bottom" />
  <div
    class="flex w-full max-w-screen-xl flex-col items-center xl:flex-row"
  >
    <div
      class:list={[
        "prose py-20 md:prose-lg lg:prose-xl dark:prose-invert xl:px-20",
        "*:timeline-slide-in-bottom",
      ]}
    >
      <Content />
    </div>
    <TechGrid class="my-auto w-full basis-2/3" />
  </div>
</section>
