---
import H1 from "@components/H1.astro";
import TechGrid from "@components/TechGrid.astro";
import { getEntry } from "astro:content";

const {
  render,
  data: { title },
} = await getEntry("about", "tech");
const { Content } = await render();
---

<section
  id="technologies"
  class="flex min-h-svh w-full flex-col items-center bg-secondary p-10 sm:p-20 dark:supports-[backdrop-filter]:bg-secondary/50"
>
  <H1 {title} />
  <div
    class="my-auto flex w-full max-w-screen-xl flex-col items-center xl:flex-row"
  >
    <div
      class="prose py-20 text-center md:prose-lg lg:prose-xl dark:prose-invert xl:px-20"
    >
      <Content />
    </div>
    <TechGrid class="my-auto w-full basis-2/3" />
  </div>
</section>
