---
import AngularLogo from "icons:astro/logos/angular-icon";
import Css3Logo from "icons:astro/logos/css-3";
import GitLogo from "icons:astro/logos/git-icon";
import GithubLogo from "icons:astro/logos/github-icon";
import GoLogo from "icons:astro/logos/go";
import Html5Logo from "icons:astro/logos/html-5";
import JavaScriptLogo from "icons:astro/logos/javascript";
import NextJsLogo from "icons:astro/logos/nextjs-icon";
import NodeJsLogo from "icons:astro/logos/nodejs-icon";
import RustLogo from "icons:astro/logos/rust";
import SvelteLogo from "icons:astro/logos/svelte-icon";
import TailwindLogo from "icons:astro/logos/tailwindcss-icon";
import TypeScriptLogo from "icons:astro/logos/typescript-icon";
import ZshLogo from "icons:astro/logos/zsh";
import AstroLogo from "@components/AstroIcon.astro";

type Props = {
  class?: string | undefined;
};

const { class: className } = Astro.props;
---

<div
  data-tech-grid
  class:list={[
    "grid max-w-screen-md grid-cols-3 gap-14 sm:grid-cols-4 md:grid-cols-5 [&>svg]:size-full",
    "motion-safe:[&_svg]:timeline-slide-in-bottom",
    className,
  ]}
>
  <TypeScriptLogo />
  <AstroLogo class="fill-foreground" />
  <AngularLogo />
  <JavaScriptLogo />
  <Html5Logo class="fill-foreground" />
  <Css3Logo class="fill-foreground" />
  <TailwindLogo />
  <NextJsLogo />
  <GitLogo />
  <GithubLogo class="[&_path]:fill-foreground" />
  <GoLogo />
  <ZshLogo class="fill-foreground" />
  <RustLogo class="fill-foreground" />
  <NodeJsLogo />
  <SvelteLogo />
</div>
