---
import ContactForm from "@components/Contact/ContactForm.astro";
import SEO from "@components/SEO.astro";
import Layout from "src/layouts/Layout.astro";

export const prerender = false;

const [title, description] = ["Contact Me", "Get in touch"];
---

<Layout {title} {description}>
  <SEO
    slot="seo"
    {title}
    {description}
    imageURL={new URL("og/contact.png", Astro.url.origin)}
  />

  <section
    class="flex min-h-screen-less-header w-full flex-col justify-center p-3"
  >
    <ContactForm />
  </section>

  <script
    slot="head"
    is:inline
    src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"
    async
    defer
  ></script>
</Layout>
