---
import ContactForm from "@components/Contact/ContactForm.astro";
import Layout from "src/layouts/Layout.astro";

export const prerender = false;
---

<Layout title="Contact Me">
  <section
    class="flex min-h-screen-less-header w-full flex-col justify-center p-1"
  >
    <ContactForm />
  </section>
</Layout>
