---
/* global ImageMetadata */

import AppLink from "@components/AppLink.astro";
import LeftArrow from "icons:astro/heroicons/arrow-left";
import PageBody from "./PageBody.astro";

type Props = {
  title: string;
  description: string;
  cover?: ImageMetadata | undefined;
};

const { title, description, cover } = Astro.props;
---

<div class="mx-auto mb-10 max-w-full space-y-5 px-5 pt-10 lg:max-w-4xl">
  <AppLink
    as="a"
    appearance="secondary"
    href="/projects"
    class="group w-fit text-sm"
  >
    <LeftArrow class="transition-transform group-hover:-translate-x-1" />
    <span>Back to Projects</span>
  </AppLink>

  <PageBody {title} {description} {cover}>
    <slot name="content" slot="content" />
  </PageBody>
</div>
