---
import AppLink from "@components/AppLink.astro";
import SendEmailResponse from "@components/Contact/SendEmailResponse.astro";
import H1 from "@components/H1.astro";
import { getActionProps } from "astro/actions/runtime/virtual/shared.js";
import { actions } from "astro:actions";
import PaperPlane from "icons:astro/heroicons/paper-airplane";
import FormFields from "./FormFields.astro";
---

<form
  id="contact-form"
  transition:name="contact-form"
  method="POST"
  class="mx-auto flex w-full flex-col gap-10 rounded-xl border bg-background p-6 md:w-[600px] lg:max-w-screen-lg lg:p-12"
>
  <input {...getActionProps(actions.contact)} />
  <H1 title="Send Me a Message" />

  <SendEmailResponse />

  <FormFields />

  <AppLink
    id="submit-message"
    as="button"
    type="submit"
    disabled
    class="self-start"
  >
    Send <PaperPlane />
  </AppLink>
</form>

<script>
  const form = document.getElementById("contact-form");
  const button = document.getElementById("submit-message");

  if (form instanceof HTMLFormElement && button instanceof HTMLButtonElement) {
    form.addEventListener(
      "input",
      () => (button.disabled = !form.checkValidity()),
    );
  }
</script>
