---

import { actions, isInputError } from "astro:actions";

const response = Astro.getActionResult(actions.contact);
---

{
  response && (response.data || !isInputError(response.error)) && (
    <p
      class:list={[
        "rounded-xl border-2 p-6",
        response.data?.success && "border-green-800 text-green-800",
        response.error && "border-destructive text-destructive",
      ]}
    >
      {response.data && response.data.success && "Your message has been sent!"}

      {response.error &&
        (isInputError(response.error)
          /* We handle cf-turnstile-response field errors here since it's not visible in the form */
          ? response.error.fields["cf-turnstile-response"] &&
            response.error.fields["cf-turnstile-response"].length > 0 &&
            "Challenge error. Please refresh the page and try again."
          : `Error sending message: ${response.error.message}`)}
    </p>
  )
}
