---
import generateToc from "@utils/generateToc";
import type { MarkdownHeading } from "astro";
import Toc from "./Toc.astro";

type Props = {
  headings: MarkdownHeading[];
};
---

<aside
  id="toc-aside"
  popover="auto"
  class:list={[
    "bg-background max-w-[500px] p-5 my-0 border rounded-xl grow self-start w-auto right-0 sticky",
    "top-[calc(var(--header-height)+var(--offset))] [--offset:theme(spacing.2)] left-2 right-2",
    "[&[popover]]:fixed [&[popover]]:[--offset:80px] [&[popover]]:shadow-md",
    "ease-out"
  ]}
>
  <div class="relative border-muted pl-4 border-l-2">
    <span
      id="heading-indicator"
      class="absolute -left-[5px] top-0 h-2 w-2 rounded-full bg-primary opacity-0 transition-[top_opacity]"
    ></span>
    <h1 class="mb-3 text-lg font-bold">On this page</h1>
    <nav id="secondary">
      <Toc toc={generateToc(Astro.props.headings)} />
    </nav>
  </div>
</aside>

<script is:inline>
  function init(doc = document) {
    const mq = window.matchMedia("(min-width: 1200px)");

    const togglePopoverAttr = () => {
      const aside = doc.querySelector("aside#toc-aside");

      if (aside) {
        if (!mq.matches) {
          aside.setAttribute("popover", "auto");
        } else {
          aside.removeAttribute("popover");
        }
      }
    };

    togglePopoverAttr();

    mq.addEventListener("change", togglePopoverAttr);
  }

  init();
</script>

<style>
  [popover] {
    transform: perspective(800px) rotateX(90deg) scale(0.25);
    transition:
      transform 0.7s,
      overlay 0.7s allow-discrete,
      display 0.7s allow-discrete;
  }

  [popover]:popover-open {
    transform: perspective(800px) rotateX(0) scale(1);
  }

  @starting-style {
    [popover]:popover-open {
      transform: perspective(800px) rotateX(90deg) scale(0.25);
    }
  }
</style>
