---
import type { ProjectProps } from "@shared/types";
import ActionHeader from "./ActionHeader.astro";
import Aside from "./Aside.astro";
import PageBody from "./PageBody.astro";

type Props = ProjectProps;

const { headings, ...props } = Astro.props;
---

<div class="relative mx-auto max-w-full space-y-5 px-3 pt-3 lg:px-5 lg:pt-5">
  <ActionHeader />

  <div class="flex max-w-(--breakpoint-xl) gap-10">
    <PageBody {...props}>
      <slot />
    </PageBody>

    <Aside {headings} />
  </div>
</div>
