---
import GradientBackground from "src/layouts/GradientBackground.astro";
---

<GradientBackground>
  <section
    id="aboutme"
    transition:animate="slide"
    class="flex min-h-screen-less-header flex-col items-center justify-center"
  >
    <div
      class:list={[
        "mx-auto flex max-w-screen-lg flex-col items-center justify-center rounded-xl border border-border bg-card p-2 lg:flex-row",
        "backdrop-blur supports-[backdrop-filter]:bg-background/60",
      ]}
    >
      <h1
        class:list={[
          "relative w-1/3 text-nowrap p-2 text-center font-mono text-5xl text-primary",
          "after:absolute after:bottom-2 after:left-10 after:-z-10 after:h-4 after:w-28 after:-skew-x-12 after:bg-secondary",
        ]}
      >
        About Me
      </h1>
      <p class="w-2/3 p-4 text-2xl">
        I'm a PhD in theoretical chemistry with an interest in all things tech.
        While working on my thesis I tought myself how to program in C++. Ever
        since, I knew that I wanted to persue a career in technology and
        software enginerring. My expertise lies in full-stack web development,
        but I also have some experience in high-performance computing.
      </p>
    </div>
  </section>

  <section id="technologies" class="min-h-screen-less-header">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, labore eum
    magni commodi minima voluptates temporibus necessitatibus officia, quam,
    asperiores error culpa voluptate eos! Eum quo voluptates sequi minus neque.
  </section>
</GradientBackground>
