---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const {
  "class:list": classList,
  class: className,
  ...buttonProps
}: Props = Astro.props;
---

<button
  class:list={[
    "rounded-full border-2 border-secondary",
    "px-5 py-2",
    "transition-colors hover:border-primary hover:bg-primary/25",
    classList,
    className,
  ]}
  {...buttonProps}
>
  <slot />
</button>
