---
import IconDownload from "icons:astro/heroicons/arrow-down-tray";
import AppLink from "@components/AppLink.astro";
---

<AppLink as="a" href="/cv.pdf" title="Download CV" download="lukas-trombach-cv.pdf">
  <IconDownload /><span>Download CV</span>
</AppLink>
