---
import type { HTMLAttributes } from "astro/types";
import { dash } from "radash";

type Props = HTMLAttributes<"h1"> & {
  title: string;
  appearance?: "primary" | "secondary" | undefined;
};

const {
  "class:list": classList,
  class: className,
  title,
  ...props
} = Astro.props;
---

<h1
  id={dash(title)}
  class:list={[
    "relative mb-6 text-nowrap p-2 text-left font-mono",
    "after:absolute after:bottom-[20%] after:left-0 after:h-4 after:w-28 after:-skew-x-12",
    "font-size-clamp-h1",
    "text-primary-foreground after:bg-primary",
    classList,
    className,
  ]}
  {...props}
>
  <span class="relative z-10 text-foreground">{title}</span>
</h1>
