---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h1"> & {
  title: string;
};

const {
  "class:list": classList,
  class: className,
  title,
  ...props
} = Astro.props;
---

<h1
  class:list={[
    "relative mb-6 text-nowrap p-2 text-left font-mono text-5xl text-primary",
    "after:absolute after:bottom-2 after:left-0 after:-z-10 after:h-4 after:w-28 after:-skew-x-12 after:bg-secondary",
    classList,
    className,
  ]}
  {...props}
>
  {title}
</h1>
