---
import { Image } from "astro:assets";
import Section from "src/layouts/Section.astro";
---

<Section id="hero">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquid
    consequuntur hic iure asperiores! Cumque, sint quasi. Impedit distinctio
    accusantium quas necessitatibus minima, porro, eligendi alias iure obcaecati
    repellat quos.
  </p>
  <Image
    src="https://placehold.co/600x400"
    alt="Placeholder"
    width={600}
    height={400}
  />
</Section>
