---
import Waves from "./Waves.astro";
---

<section
  id="hero"
  class="relative flex h-[calc(100vh-86px)] flex-col items-end"
>
  <p
    class="absolute left-52 top-1/3 w-[600px] text-center font-mono text-5xl leading-relaxed"
  >
    Hi! My name is <span class="text-primary">Lukas Trombach</span> and I'm a software
    engineer based in Auckland.
  </p>
  <Waves />
</section>
