---
import type { ClassList } from "@shared/types";

interface Props {
  title: string;
  href: string;
  class?: ClassList;
}

const { title, href, class: className } = Astro.props;
---

<!-- TODO tailwind decoration-current not working -->
<a
  {href}
  class:list={[
    "underline decoration-transparent underline-offset-0",
    "transition-all duration-300",
    "hover:decoration-white hover:underline-offset-4",
    className,
  ]}
>
  {title}
</a>
