---
import type { ClassList } from "@shared/types";

interface Props {
    title: string;
    href: string;
    extraClass?: ClassList;
}

const { title, href, extraClass } = Astro.props;
---

<!-- TODO tailwind decoration-current not working -->
<a
    {href}
    class:list={[
        "underline underline-offset-0 decoration-transparent",
        "transition-all duration-300",
        "hover:decoration-white hover:underline-offset-4",
        extraClass,
    ]}
>
    {title}
</a>
