---
import { Astronav, MenuItems } from "astro-navbar";
import Button from "@components/Button.astro";
import Link from "@components/Link.astro";

const menuItems = [
    {
        title: "About",
        href: "#about",
    },
    {
        title: "Projects",
        href: "#projects",
    },
    {
        title: "Contact",
        href: "#contact",
    },
] as const;
---

<header class="lg:flex justify-between p-5">
    <Astronav>
        <Button class="text-white">Download CV</Button>

        <MenuItems class="hidden lg:flex">
            <ul class="flex flex-col lg:flex-row lg:gap-10">
                {
                    menuItems.map(({ title, href }) => (
                        <>
                            <li>
                                <Link
                                    {title}
                                    {href}
                                    extraClass="tracking-wider"
                                />
                            </li>
                        </>
                    ))
                }
            </ul>
        </MenuItems>
    </Astronav>
</header>
