---
import { Icon } from "astro-icon/components";

const technologies = [
  { name: "TypeScript", icon: "logos:typescript-icon" },
  { name: "Angular", icon: "logos:angular-icon" },
  { name: "JavaScript", icon: "logos:javascript" },
  { name: "HTML5", icon: "logos:html-5", twClass: "fill-foreground" },
  { name: "CSS3", icon: "logos:css-3", twClass: "fill-foreground" },
  { name: "Tailwind", icon: "logos:tailwindcss-icon" },
  { name: "Next.js", icon: "logos:nextjs-icon" },
  { name: "Git", icon: "logos:git-icon" },
  {
    name: "Github",
    icon: "logos:github-icon",
    twClass: "[&_path]:fill-foreground",
  },
  { name: "Go", icon: "logos:go" },
  { name: "Bash", icon: "logos:bash-icon" },
  { name: "Rust", icon: "logos:rust", twClass: "fill-foreground" },
  { name: "Astro", icon: "logos:astro-icon" },
  { name: "Node.js", icon: "logos:nodejs-icon" },
  { name: "Svelte", icon: "logos:svelte-icon" },
] satisfies {
  name: string;
  icon: `logos:${string}`;
  twClass?: string;
}[];

console.log(technologies.map(({ icon }) => icon.slice(6)));
---

<div
  class="grid grid-cols-2 gap-10 p-5 max-sm:gap-10 sm:grid-cols-3 lg:grid-cols-5 lg:gap-20"
>
  {
    technologies.map(({ name, icon, twClass }) => (
      <Icon {name} size={128} name={icon} class={`${twClass} mx-auto`} />
    ))
  }
</div>
