---
import AngularLogo from "icons:astro/logos/angular-icon";
import AstroLogo from "icons:astro/logos/astro-icon";
import AwsLambdaLogo from "icons:astro/logos/aws-lambda";
import CppLogo from "icons:astro/logos/c-plusplus";
import ContentfulLogo from "icons:astro/logos/contentful";
import ElasticsearchLogo from "icons:astro/logos/elasticsearch";
import MondayLogo from "icons:astro/logos/monday-icon";
import NextLogo from "icons:astro/logos/nextjs-icon";
import SassLogo from "icons:astro/logos/sass";
import SupabaseLogo from "icons:astro/logos/supabase-icon";
import SvelteLogo from "icons:astro/logos/svelte-icon";
import TailwindLogo from "icons:astro/logos/tailwindcss-icon";
import TypeScriptLogo from "icons:astro/logos/typescript-icon";
import VercelLogo from "icons:astro/logos/vercel-icon";
import LatexLogo from "icons:astro/simple-icons/latex";
import type { Tool } from "src/content/config";

type Props = {
  tool: Tool;
  transitionName?: string | undefined;
};

const { tool, transitionName } = Astro.props;
const props = {
  width: "100%",
  height: "100%",
  preserveAspectRatio: "xMidYMid meet",
} as const satisfies astroHTML.JSX.SVGAttributes;
---

<div title={tool} transition:name={transitionName || ""}>
  {
    () => {
      switch (tool) {
        case "Astro":
          return <AstroLogo {...props} class="fill-foreground" />;
        case "Svelte":
          return <SvelteLogo {...props} />;
        case "Typescript":
          return <TypeScriptLogo {...props} />;
        case "Tailwind":
          return <TailwindLogo {...props} />;
        case "Vercel":
          return <VercelLogo {...props} class="fill-foreground" />;
        case "Angular":
          return <AngularLogo {...props} />;
        case "Sass":
          return <SassLogo {...props} />;
        case "AWS Lambda":
          return <AwsLambdaLogo {...props} />;
        case "Contentful":
          return <ContentfulLogo {...props} />;
        case "elasticsearch":
          return <ElasticsearchLogo {...props} />;
        case "LaTeX":
          return <LatexLogo {...props} class="fill-foreground" />;
        case "C++":
          return <CppLogo {...props} />;
        case "Next.js":
          return <NextLogo {...props} />;
        case "Monday.com":
          return <MondayLogo {...props} />;
        case "Supabase":
          return <SupabaseLogo {...props} />;

        default:
          return tool satisfies never;
      }
    }
  }
</div>
