---
import type { CollectionEntry } from "astro:content";
import PlusIcon from "icons:astro/heroicons/plus";
import AppLink from "@components/AppLink.astro";
import Avatar from "./Avatar.astro";

type Props = {
  image: CollectionEntry<"person">["data"]["avatar"];
};

const { image } = Astro.props;
---

<div
  class:list={[
    "gradient basis-1/3 rounded-t-xl sm:rounded-l-xl flex flex-row sm:flex-col gap-5 pt-5 max-sm:justify-center items-center",
    "[--gradient-direction:160deg] sm:[--gradient-direction:105deg]",
  ]}
>
  <Avatar {image} class="size-24 @lg:size-32" />
  <div class="max-w-fit max-h-fit rounded-full bg-background">
    <AppLink
      as="a"
      href="/lukas-trombach.vcf"
      download="lukas-trombach.vcf"
      class="text-center max-w-fit pl-3"
    >
      <PlusIcon />
      <span>Add</span>
    </AppLink>
  </div>
</div>

<style>
  .gradient {
    --spacing-1: 2%;
    --spacing-2: 1.5%;
    --width-1: 6%;
    --width-2: 1.25%;
    --gradient-stop-1: 30%;
    --gradient-stop-2: calc(var(--gradient-stop-1) + var(--spacing-1));
    --gradient-stop-3: calc(var(--gradient-stop-2) + var(--width-1));
    --gradient-stop-4: calc(var(--gradient-stop-3) + var(--spacing-2));
    --gradient-stop-5: calc(var(--gradient-stop-4) + var(--width-2));

    background-image: linear-gradient(
      var(--gradient-direction),
      theme(colors.primary.DEFAULT) 0% calc(var(--gradient-stop-1) - 1px),
      transparent var(--gradient-stop-1) calc(var(--gradient-stop-2) - 1px),
      theme(colors.primary.green) var(--gradient-stop-2)
        calc(var(--gradient-stop-3) - 1px),
      transparent var(--gradient-stop-3) calc(var(--gradient-stop-4) - 1px),
      theme(colors.primary.pink) var(--gradient-stop-4)
        calc(var(--gradient-stop-5) - 1px),
      transparent var(--gradient-stop-5)
    );
  }
</style>
