---
import BackgroundImage from "@images/gradient.avif";
import { Picture } from "astro:assets";
---

<div
  class:list={[
    "overflow-auto [scrollbar-gutter:stable]",
    "h-screen w-full",
    "relative",
  ]}
>
  <Picture
    transition:persist
    src={BackgroundImage}
    alt="Background"
    loading="eager"
    widths={[480, 768, 976, 1440, BackgroundImage.width]}
    class="fixed z-[-1] object-contain object-top"
  />
  <slot />
</div>
