---
import BackgroundImage from "@images/gradient.avif";
import { Image } from "astro:assets";
---

<div
  class:list={[
    "overflow-auto [scrollbar-gutter:stable]",
    "h-screen w-full",
    "relative",
  ]}
>
  <Image
    transition:persist
    src={BackgroundImage}
    alt="Background"
    loading="eager"
    widths={[480, 768, 976, 1440, BackgroundImage.width]}
    sizes={`(max-width: 480px) 480px, (max-width: 768px) 768px, (max-width: 976px) 976px, (max-width: 1440px) 1440px, ${BackgroundImage.width}`}
    class="fixed z-[-1] object-contain object-top"
  />
  <slot />
</div>
