---
import BackgroundImage from "@images/gradient.avif";
import type { HTMLAttributes } from "astro/types";
import { getImage } from "astro:assets";

type Props = HTMLAttributes<"div">;

const optimisedImage = await getImage({
  src: BackgroundImage,
  width: 1440,
});

const { "class:list": classList, class: className, ...props } = Astro.props;
---

<div
  style={`background-image: url(${optimisedImage.src})`}
  class:list={[
    "overflow-auto [scrollbar-gutter:stable]",
    "h-screen w-full animate-[moveUp_20s_linear_infinite]",
    "bg-cover bg-no-repeat",
    classList,
    className,
  ]}
  {...props}
>
  <slot />
</div>
