---
import AppLink from "@components/AppLink.astro";
import IconDownload from "icons:astro/heroicons/arrow-down-tray";
---

<AppLink as="a" href="/cv.pdf" title="Download CV">
  <IconDownload /><span class="hidden md:inline">Download CV</span>
</AppLink>
