---
import GithubLogo from "icons:astro/logos/github-icon";
import CvDownload from "./CvDownload.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div class="flex items-center gap-4 lg:order-3">
  <ThemeSwitcher />

  <CvDownload />
  <a href="https://github.com/Trombach/astro-homepage" class="size-8">
    <GithubLogo class="size-full [&_path]:fill-foreground" />
    <span class="sr-only">Github Repository</span>
  </a>
</div>
