---
import Button from "@components/Button.astro";
import octo from "@icons/github-mark.svg";
import octoWhite from "@icons/github-mark-white.svg";
import { Icon } from "astro-icon/components";
---

<div class="flex items-center gap-4">
  <Button>
    <div class="flex items-center gap-2">
      <Icon name="download" />Download CV
    </div>
  </Button>
  <a href="https://github.com/Trombach/astro-homepage">
    <picture>
      <source srcset={octoWhite.src} media="(prefers-color-scheme: dark)" />
      <img src={octo.src} width="32" height="32" alt="My Github page" />
    </picture>
    <span class="sr-only">Github Repository</span>
  </a>
</div>
