---
import Link from "@components/Link.astro";
import IconDownload from "icons:astro/heroicons/arrow-down-tray";
import GithubLogo from "icons:astro/logos/github-icon";
---

<div class="flex items-center gap-4 lg:order-3">
  <Link title="Download CV" class="flex items-center gap-2">
    <IconDownload /><span class="hidden md:inline">Download CV</span>
  </Link>
  <a href="https://github.com/Trombach/astro-homepage" class="size-8">
    <GithubLogo class="size-full [&_path]:fill-foreground" />
    <span class="sr-only">Github Repository</span>
  </a>
</div>
