<div data-loader class="group lg:order-2">
  <div
    class="flex items-center justify-center space-x-2 opacity-0 transition-opacity delay-150 group-[.loading]:opacity-100"
  >
    <span class="sr-only hidden group-[.loading]:inline">Loading...</span>

    <div class="relative flex">
      <div
        class="absolute size-full animate-ping rounded-full bg-foreground opacity-75 [animation-delay:-0.3s]"
      >
      </div>
      <div class="size-3 rounded-full bg-foreground"></div>
    </div>

    <div class="relative flex">
      <div
        class="absolute size-full animate-ping rounded-full bg-foreground opacity-75 [animation-delay:-0.15s]"
      >
      </div>
      <div class="size-3 rounded-full bg-foreground"></div>
    </div>

    <div class="relative flex">
      <div
        class="absolute size-full animate-ping rounded-full bg-foreground opacity-75"
      >
      </div>
      <div class="size-3 rounded-full bg-foreground"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:before-preparation", () =>
    document.querySelector("[data-loader]")?.classList.add("loading"),
  );

  document.addEventListener("astro:after-preparation", () =>
    document.querySelector("[data-loader]")?.classList.remove("loading"),
  );
</script>
