---
import MenuButton from "@components/MenuButton.svelte";
import NavigationMenu from "./NavigationMenu.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header
  data-header="collapsed"
  transition:name="header"
  class:list={[
    "[--header-animation-duration:600ms] group fixed top-0 z-50 w-full px-5 py-3 bg-[--header-bg-color] backdrop-blur",
    "supports-scroll-animation:animate-[bg-blur_1ms_linear] supports-scroll-animation:[animation-timeline:scroll()]",
    "supports-scroll-animation:backdrop-blur supports-scroll-animation:bg-[--header-bg-color,theme(colors.transparent)]",
    "supports-scroll-animation:lg:backdrop-blur-none supports-scroll-animation:lg:bg-transparent",
  ]}
>
  <div class="mx-auto flex w-full max-w-screen-xl items-center justify-between">
    <MenuButton client:visible />

    <div class="max-sm:hidden">
      <NavigationMenu />
    </div>

    <ThemeSwitcher />
  </div>
  <div
    id="menu-container"
    class:list={[
      "sm:hidden group-data-[header=collapsed]:h-0 overflow-y-hidden",
      "transition-[height] [interpolate-size:allow-keywords] duration-[--header-animation-duration]"
    ]}
  >
    <NavigationMenu />
  </div>
</header>

<style>
  @keyframes bg-blur {
    10%,
    100% {
      backdrop-filter: blur(theme(blur.DEFAULT));
      background-color: var(--header-bg-color, theme(colors.background));
    }
  }

  :global(:root) {
    @supports (backdrop-filter: blur(theme(blur.DEFAULT))) {
      --header-bg-color: theme(colors.background/50%);
    }
  }
</style>
