---
import MenuButton from "@components/MenuButton.svelte";
import NavigationMenu from "./NavigationMenu.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header
  data-header="collapsed"
  transition:name="header"
  class="group fixed top-0 z-50 w-full px-5 py-3"
>
  <div
    class="relative mx-auto flex w-full max-w-screen-xl items-center justify-between"
  >
    <MenuButton client:visible />

    <div
      id="menu-container"
      class:list={[
        "flex flex-grow flex-col justify-between sm:flex-row sm:items-center",
        "max-h-0 basis-full overflow-y-hidden transition-[max-height] duration-500",
        "sm:max-h-max sm:basis-auto sm:overflow-y-visible",
        "max-md:divide-y",
        "max-h-0 group-data-[header=expanded]:max-h-96",
      ]}
    >
      <NavigationMenu />
    </div>

    <ThemeSwitcher />
  </div>
</header>

<style>
  @keyframes bg-blur {
    10%,
    100% {
      backdrop-filter: blur(theme(blur.DEFAULT));
      background-color: var(--header-bg-color, theme(colors.background));
    }
  }

  :global(:root) {
    @supports (backdrop-filter: blur(theme(blur.DEFAULT))) {
      --header-bg-color: theme(colors.background/50%);
    }
  }

  header {
    @apply bg-[--header-bg-color] backdrop-blur;

    @supports (animation-timeline: scroll()) {
      animation: bg-blur linear;
      animation-timeline: scroll();
      animation-duration: 1ms;
      backdrop-filter: blur(theme(blur.DEFAULT));
      background-color: var(--header-bg-color, theme(colors.transparent));
      @media screen(lg) {
        backdrop-filter: blur(theme(blur.none));
        background-color: theme(colors.transparent);
      }
    }
  }
</style>
