---
import MenuButton from "@components/MenuButton.svelte";
import Links from "./Links.astro";
import NavigationMenu from "./NavigationMenu.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header
  class="sticky top-0 z-50 w-full bg-background px-5 py-3 backdrop-blur supports-[backdrop-filter]:bg-background/30"
>
  <div
    class="relative mx-auto flex w-full max-w-screen-xl flex-wrap items-center justify-between lg:flex-nowrap lg:items-center"
  >
    <MenuButton client:visible />
    <Links />

    <hr class="m-0 h-0 w-0 basis-full border-0 lg:hidden lg:basis-0" />

    <div
      id="menu-container"
      class:list={[
        "flex flex-grow flex-col justify-between lg:order-1 lg:flex-row lg:items-center",
        "max-h-0 basis-full overflow-y-hidden transition-[max-height] duration-500",
        "lg:max-h-max lg:basis-auto lg:overflow-y-visible",
        "max-md:divide-y",
      ]}
    >
      <NavigationMenu />
      <ThemeSwitcher
        transition:persist="theme-switcher"
        transition:animate="none"
      />
    </div>
  </div>
</header>
