---
import Button from "@components/Button.astro";
import NavLink from "./NavLink.astro";
import MenuButton from "@components/MenuButton.svelte";

const menuItems = [
  {
    title: "About",
    href: "about",
  },
  {
    title: "Projects",
    href: "projects",
  },
  {
    title: "Contact",
    href: "contact",
  },
] as const;
---

<header class="fixed w-full p-5 backdrop-blur-xl backdrop-saturate-150">
  <div
    class="mx-auto w-full max-w-screen-xl lg:flex lg:items-center lg:justify-between"
  >
    <div class="flex items-center justify-between">
      <MenuButton className="lg:hidden" client:load />
      <Button>Download CV</Button>
    </div>
    <nav
      class="max-h-0 overflow-y-hidden transition-all duration-500 lg:max-h-max lg:flex-row lg:overflow-y-visible"
    >
      <ul class="flex flex-col lg:flex-row lg:gap-10">
        {
          menuItems.map((props) => (
            <li class="py-2">
              <NavLink {...props} />
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  // menu button
  const menuBtn = document.querySelector("[data-menu-button]");
  const nav = document.querySelector("nav");

  const toggleVisibility = () => {
    if (nav?.classList.contains("max-h-96")) {
      nav.classList.replace("max-h-96", "max-h-0");
    } else {
      nav?.classList.replace("max-h-0", "max-h-96");
    }
  };
  menuBtn?.addEventListener("click", toggleVisibility);
</script>
