---

import NavLink from "./NavLink.astro";

const menuItems = [
  { title: "Me", href: "/" },
  { title: "Projects", href: "/projects" },
  { title: "Contact", href: "/contact" },
] as const;
---

<nav id="primary">
  <menu class="flex flex-col items-center sm:flex-row sm:gap-10">
    {
      menuItems.map((props) => (
        <li>
          <NavLink {...props} />
        </li>
      ))
    }
  </menu>
</nav>
