---
import NavLink from "./NavLink.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const menuItems = [
  { title: "Home", href: "/" },
  { title: "About", href: "/about" },
  { title: "Projects", href: "/projects" },
  { title: "Contact", href: "/contact" },
] as const;
---

<nav
  id="primary"
  class:list={[
    "max-h-0 basis-full overflow-y-hidden transition-all duration-500",
    "lg:max-h-max lg:basis-auto lg:overflow-y-visible",
    "flex flex-grow flex-col lg:order-1 lg:flex-row",
  ]}
>
  <menu
    class="flex flex-col border-b lg:flex-row lg:items-center lg:gap-10 lg:border-b-0"
  >
    {
      menuItems.map((props) => (
        <li class="py-3 lg:py-2">
          <NavLink {...props} />
        </li>
      ))
    }
  </menu>
  <ThemeSwitcher transition:persist />
</nav>
