---
import NavLink from "./NavLink.astro";

const menuItems = [
  { title: "Home", href: "/" },
  { title: "About", href: "/about" },
  { title: "Projects", href: "/projects" },
  { title: "Contact", href: "/contact" },
] as const;
---

<nav
  id="primary"
  class:list={[
    "max-h-0 basis-full overflow-y-hidden transition-all duration-500",
    "lg:max-h-max lg:basis-auto lg:flex-row lg:overflow-y-visible",
    "lg:order-1",
  ]}
>
  <menu class="flex flex-col lg:flex-row lg:items-center lg:gap-10">
    {
      menuItems.map((props) => (
        <li class="py-3 lg:py-2">
          <NavLink {...props} />
        </li>
      ))
    }
  </menu>
</nav>
