---
type Props = {
  title: string;
  href: string;
};

const { title, href }: Props = Astro.props;
const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  {href}
  class:list={[
    "font-display text-2xl sm:text-base",
    "relative inline-block h-auto rounded-full py-3 tracking-wider p-2",
    "group/link transition-colors duration-300 hover:bg-primary/25 hover:text-foreground",
    { "text-muted-foreground": !isActive },
  ]}
>
  {
    isActive && (
      <span
        transition:name="active-link"
        class:list={[
          "absolute -right-4 top-[calc(50%-(--spacing(2)/2))] h-2 w-2 rounded-full bg-foreground",
          "transition-transform group-hover/link:scale-0",
          "sm:left-[calc(50%-(--spacing(2)/2))] sm:top-9",
        ]}
      />
    )
  }
  <slot name="icon">{title}</slot>
</a>
