---
type Props = {
  title: string;
  href: string;
};

const { title, href }: Props = Astro.props;
const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  {href}
  class:list={[
    "relative inline-block h-auto tracking-wider hover:text-primary",
    { "text-muted-foreground": !isActive },
  ]}
>
  {
    isActive ? (
      <span
        transition:name="active-link"
        transition:animate="slide"
        class:list={[
          "absolute -right-4 top-[calc(50%-(theme(spacing.2)/2))] h-2 w-2 rounded-full bg-current",
          "lg:left-[calc(50%-(theme(spacing.2)/2))] lg:top-7",
        ]}
      />
    ) : null
  }
  <slot name="icon">{title}</slot>
</a>
