---
type Props = {
  title: string;
  href: string;
};

const { title, href }: Props = Astro.props;
const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  {href}
  class:list={[
    "relative inline-block h-auto rounded-full py-3 tracking-wider lg:p-2",
    "group transition-colors duration-300 hover:bg-primary/25 hover:text-foreground",
    { "text-muted-foreground": !isActive },
  ]}
>
  {
    isActive ? (
      <span
        transition:name="active-link"
        class:list={[
          "absolute -right-4 top-[calc(50%-(theme(spacing.2)/2))] h-2 w-2 rounded-full bg-foreground",
          "transition-transform group-hover:scale-x-0 group-hover:scale-y-0",
          "lg:left-[calc(50%-(theme(spacing.2)/2))] lg:top-9",
        ]}
      />
    ) : null
  }
  <slot name="icon">{title}</slot>
</a>
