on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string
        description: Full URL path to check
      config-path:
        type: string
        description: Path to lhci config file
      environment:
        type: string
        default: "preview"
        description: Environment to run in
      mode:
        type: string
        default: "mobile"
        description: Run in mobile or desktop mode
    secrets:
      LHCI_GITHUB_APP_TOKEN:
        required: true
      VERCEL_AUTOMATION_BYPASS_SECRET:
        required: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: false
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"
      - name: Conditionally set environment
        run: |
          if [[ ${{ inputs.environment }} == "preview" ]]; then
            echo 'LHCI_COLLECT__SETTINGS__EXTRA_HEADERS={"x-vercel-protection-bypass": "${{ secrets.VERCEL_AUTOMATION_BYPASS_SECRET }}"}' >> $GITHUB_ENV
            echo 'LHCI_COLLECT__SETTINGS__ONLY_CATEGORIES=performance,accessibility,best-practices' >> $GITHUB_ENV
          fi

          if [[ ${{ inputs.mode}} == "desktop" ]]; then
            echo "LHCI_COLLECT__SETTINGS__PRESET=desktop" >> $GITHUB_ENV
          fi
      - name: Audit URL using Lighthouse
        run: |
          pnpm add --global @lhci/cli
          lhci autorun --config=${{ inputs.config-path || format('./lighthouserc.{0}-{1}.json', inputs.mode, inputs.environment) }}
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
          LHCI_COLLECT__URL: ${{ inputs.url }}
