---
import Blobs from "@components/Background/Blobs.astro";
---

<div
  class:list={[
    "h-screen w-full",
    "relative",
  ]}
>
  <div class="fixed inset-0 -z-10">
    <Blobs />
  </div>
  <slot />
</div>
